[Unit]
Description=GPU utilization reactive RGB lighting via OpenRGB
After=multi-user.target
StartLimitBurst=3
StartLimitIntervalSec=50

[Service]
Type=simple
ExecStart=/root/gpu-rgb.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
